/* defines */
/* Actual classes */
body {
  background-color: #ecf0f1;
}
.navbar li:hover {
  background-color: #b0d8e0;
}
#spell-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}
.spell-level {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
span.search-clear {
  position: relative;
}
span.search-clear span {
  position: absolute;
  display: block;
  top: -9px;
  right: 6px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  opacity: .5;
  padding-bottom: 6px;
  padding-top: 6px;
}
span.search-clear input {
  padding-right: 30px;
}
@media (max-width: 420px) {
  .search-filtered {
    padding-top: 60px;
  }
}
@media (min-width: 420px) {
  #spell-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 60px;
  }
  .spell-level {
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
  }
}
.spell-level {
  color: #130f30;
  vertical-align: top;
  display: inline-block;
  padding-top: 40px;
}
.search-filtered .spell-level {
  padding-top: 0px;
  display: block;
}
.search-filtered .spell-level h2 {
  display: none;
}
.search-filtered .spell-level ol {
  margin: 0;
  padding: 0;
}
.spell-level div.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.spell-level ol {
  padding: 0;
  list-style-type: none;
}
.spell-level ol li {
  background-color: #b0d8e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #8eb6be;
  width: 100%;
  display: block;
  padding: 5px 10px 5px 10px;
  margin-top: 5px;
  margin-bottom: 0;
}
.spell-level ol li div.header {
  color: #285058;
}
.spell-level ol li div.header span.icon-expand,
.spell-level ol li div.header span.icon-collapse {
  float: right;
  padding-top: 3px;
  color: #6c949c;
}
.spell-level ol li div.header span.icon-collapse {
  display: none;
}
.search-filtered .spell-level ol li {
  display: none;
}
.search-filtered .spell-level ol li.search-show {
  display: block;
}
.spell-level ol li div.content {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  overflow: hidden;
  max-height: 500px;
  /* auto */
  /* Use CSS transitions only on larger screens (that have more CPU available) */
}
@media (min-width: 991px) {
  .spell-level ol li div.content.content-slide {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
}
.spell-level ol li div.content.content-hidden {
  max-height: 0px;
  margin: 0;
  padding: 0;
}
.spell-level ol li dl {
  margin: 0;
}
.spell-level ol li dd {
  display: inline;
  margin-left: 5px;
}
.spell-level ol li dd:first-of-type {
  margin-left: 0;
}
.spell-level ol li dd .key {
  font-weight: bold;
}
